# OpenAI
OPENAI_API_KEY=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

# Supabase
# Supabase
SUPABASE_URL=https://qbfodkkgpkwzfdaglvvc.supabase.co
SUPABASE_KEY=sb_publishable_ClSlUe12Be4vtJJLIW7_qw_bEioC0B7
SUPABASE_SERVICE_KEY=sb_secret_bnG3KJ0IF5xTB3772esfEg_-v3xSh31

# App
APP_ENV=development
MAX_FILE_SIZE_MB=10
ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend.vercel.app
