# OpenAI
OPENAI_API_KEY=

# Supabase
SUPABASE_URL=https://qbfodkkgpkwzfdaglvvc.supabase.co
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=

# App
APP_ENV=production
MAX_FILE_SIZE_MB=10
ALLOWED_ORIGINS=https://tu-frontend-vercel.app

VITE_PUBLIC_API_URL=https://convertidorpdf.onrender.com
