# OpenAI
OPENAI_API_KEY=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

# Supabase
# Supabase
SUPABASE_URL=https://qbfodkkgpkwzfdaglvvc.supabase.co
SUPABASE_KEY=sb_publishable_ClSlUe12Be4vtJJLIW7_qw_bEioC0B7
SUPABASE_SERVICE_KEY=sb_secret_bnG3KJ0IF5xTB3772esfEg_-v3xSh31

# App
APP_ENV=development
MAX_FILE_SIZE_MB=10
ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend.vercel.app

# 👈 AGREGA ESTA LÍNEA JUSTO AQUÍ ABAJO:
VITE_PUBLIC_API_URL=https://convertidorpdf.onrender.com
